In [5]:
import os
import sys
import pandas as pd
os.chdir(sys.path[0])

df=pd.read_csv("Desired.csv", index_col=0, na_values='')

In [6]:
df

,Line 1,Line 2,Line 3,Line 4,Line 5,Line 6,desired
1,Ignore Enemy Defense +40%,DEX +9%,All Stats +6%,ATT +9%,ATT +9%,Critical Chance +9%,3
13,ATT +12%,ATT +9%,Ignore Enemy Defense +30%,LUK +9%,STR +9%,DEX +9%,3
16,All Stats +9%,INT +9%,LUK +9%,LUK +9%,ATT +9%,ATT +9%,2
17,+1 ATT per 10 character levels,Ignore Enemy Defense +40%,ATT +9%,ATT +9%,INT +9%,ATT +9%,4
18,ATT +12%,MATT +9%,DEX +12%,ATT +9%,LUK +9%,DEX +9%,2
...,...,...,...,...,...,...,...
99987,STR +12%,Critical Chance +9%,ATT +9%,Damage +9%,Ignore Enemy Defense +30%,INT +9%,2
99989,STR +12%,ATT +9%,Ignore Enemy Defense +30%,DEX +9%,STR +9%,INT +9%,2
99992,LUK +12%,MATT +12%,Ignore Enemy Defense +30%,ATT +9%,INT +9%,INT +9%,2
99993,Ignore Enemy Defense +35%,ATT +9%,Damage +9%,ATT +9%,Damage +9%,ATT +9%,4
99994,STR +12%,INT +9%,DEX +9%,INT +9%,Ignore Enemy Defense +35%,ATT +9%,2

In [9]:
class keep:
    all=[]
    def __init__(self, before='', after=''):
        self.before=before
        self.after=after
        keep.all.append(self)
    def inside(self, string):
        if string.endswith(self.after) and string.startswith(self.before):
            return True
        else:
            return False
    def inside_all(string):
        for x in keep.all:
            if x.inside(string):
                return True
            return False
att=keep("ATT","%")
IED=keep("Ignore Enemy Defense","%")

In [12]:
header1=["Line 1", "Line 2", "Line 3", "Line 4", "Line 5", "Line 6"]
mystring='ATT'
for x in header1:
    df[x]=df[x].apply(lambda x: x if keep.inside_all(x) else '')

In [13]:
df

         Line 1   Line 2   Line 3   Line 4   Line 5   Line 6  desired
1                                  ATT +9%  ATT +9%                 3
13     ATT +12%  ATT +9%                                            3
16                                          ATT +9%  ATT +9%        2
17                        ATT +9%  ATT +9%           ATT +9%        4
18     ATT +12%                    ATT +9%                          2
...         ...      ...      ...      ...      ...      ...      ...
99987                     ATT +9%                                   2
99989            ATT +9%                                            2
99992                              ATT +9%                          2
99993            ATT +9%           ATT +9%           ATT +9%        4
99994                                                ATT +9%        2

[22853 rows x 7 columns]

In [2]:
x=None
print("awdsfqaw".endswith(x))

TypeError: endswith first arg must be str or a tuple of str, not NoneType