In [12]:
import pandas as pd

In [13]:
class cube:
    def __init__(cube_type,line="Legend", primerate=(100,.2,.2)):
        cube_type.line=line
        cube_type.primerate=primerate

In [19]:
df=pd.read_csv("Resources/prime rates.csv", index_col=0)
#df.Legend["Red"] # referebce a cell
df

,Rare,Epic,Unique,Legend,Remarks
type,,,,,
Yellow,"100,16.6667,16.6667","100,4.7619,4.7619","100,1.1857,1.1857",-,-
Purple,"100,16.6667,16.6667","100,7.9994,7.9994","100,1.6959,1.6959","100,0.1996,0.1996",-
Red,"100,10,1","100,10,1","100,10,1","100,10,1",-
Black,"100,20,5","100,20,5","100,20,5","100,20,5",-
Hexa,"100,10,1,1,10,1","100,10,1,1,10,1","100,10,1,1,10,1","100,10,1,1,10,1",assumed values
Equality,"100,100,100","100,100,100","100,100,100","100,100,100",assumed values
Additional,"100,1.9608,1.9608","100,4.7619,4.7619","100,1.9068,1.9068","100,0.4975,0.4975",-

In [15]:
df.Legend["Red"]

'100,10,1'

In [16]:
df.loc[:,"Epic"]["Purple"]

'100,7.9994,7.9994'

In [17]:
tuple(map(float, df.loc[:,"Epic"]["Purple"].split(',')))

(100.0, 7.9994, 7.9994)